body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

// .css-1yjjitx-MuiSwitch-track{
//     background-color: #630BF1!important;
// }
// .css-jsexje-MuiSwitch-thumb {
//     background-color: #630BF1!important;
// }
.css-ahj2mt-MuiTypography-root{
    color: #B8C5EC;
}