body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.css-ahj2mt-MuiTypography-root{
    color: #B8C5EC;
}
.meta-mask{
    justify-content: space-between;
}
.metamask{
    border-color: #630BF1;
    color: white;
}
.skelton{
    background-color: #1d1131!important;
    height: 50px!important;
}
.smallskelton{
    background-color: #1d1131!important;
    height: 50px!important;
}
.css-1dk1h2u-MuiSkeleton-root::after{
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.08), transparent)!important;
}
.css-priqlz-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked{
    color: #630BF1!important;
}
.css-priqlz-MuiButtonBase-root-MuiSwitch-switchBase.Mui-checked+.MuiSwitch-track{
    background-color: #630BF1!important;
}
.col-whtie{
    color: white!important;
}
.modal-open{
    overflow:auto!important;
    padding-right: 0px!important;
}
.css-i9fmh8-MuiBackdrop-root-MuiModal-backdrop{
    background: rgba(14, 14, 21, 0.82)!important;
    backdrop-filter: blur(16px)!important;
    opacity: 1!important;
}
.css-1gv0vcd-MuiSlider-track{
    background-color: rgb(241, 0, 136)!important;
}

.css-14pt78w-MuiSlider-rail{
    background-color: wheat;
}